@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.centerd{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #550000;
  color: white;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.backgorund1{
  background-color: #1d4428;
  color: aliceblue;
}

.quote-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted white;
}